<div class="container">
  <div class="about-header">
      <p class="about-text-item">
        Tiempo usado: {{gameTime}}
      </p>

      <button mat-raised-button aria-label="Close window" color="accent" class="close-button" (click)="closePanel()">
          Cerrar
      </button>
  </div>

  <div class="about-row">
      <h1 class="about-section-header">Acerca del Juego</h1>
      <mat-divider class="divider"></mat-divider>
  </div>

  <div class="about-row">
    <p class="about-text-item">este es un juego en el que debes adivinar una palabra<br>
      de 5/6/7 letras dependiendo de la dificultad seleccionada y en 6 intentos adivinar la palabra.<br>
      Cada conjetura debe ser una palabra válida. Después de cada suposición,<br>
      el color de las fichas cambiará para mostrar qué tan cerca estuvo tu suposición de la palabra.</p>
 </div>


  <div class="about-row">
      <h1 class="about-section-header">Contacto</h1>
      <mat-divider class="divider"></mat-divider>
  </div>

  <div class="about-row">
      <p class="about-text-item">Author: Jose Alejandro Velez / Jonathan Andres Arboleda Hurtado </p>
  </div>

  <div class="about-row">
      <p class="about-text-item">Email:
          <a role="link" class="about-link" target="_blank" rel="noopener noreferrer"
              href="mailto: jalejandrovelez@unipacifico.edu.co?subject=Letter Flash">jalejandrovelez@unipacifico.edu.co</a>
      </p>
  </div>

  <div class="about-row">
      <h1 class="about-section-header">Proyecto</h1>
      <mat-divider class="divider"></mat-divider>
  </div>

  <div class="about-row">
      <p class="about-text-item">Código con fines educativos By Universidad del Pacifico
      </p>
  </div>

</div>
